In [29]:
import numpy as np
import statistics
from scipy import stats
from collections import Counter
import pandas as pd
import matplotlib.pyplot as plt

# In order to determine standard deviation:
* Determine the mean (the average of all the numbers) by adding up all the data pieces (xi) and dividing by the number of pieces of data (n)
* Subtract the mean (x̄) from each value.
* Square each of those differences.

* Determine the average of the squared numbers calculated in #3 to find the variance. (In sample sizes, subtract 1 from the total number of values when finding the average.)
* Find the square root of the variance. That’s the standard deviation!


---


##  For example: Take the values 2, 1, 3, 2 and 4

1. Determine the mean (average):


```
2 + 1 +3 + 2 + 4 = 12
12 ÷ 5 = 2.4 (mean)
```
2. Subtract the mean from each value:


```
2 - 2.4 = -0.4
1 - 2.4 = -1.4
3 - 2.4 = 0.6
2 - 2.4 = -0.4
4 - 2.4 = 1.6
```

3. Square each of those differences:

```
-0.4 x -0.4 = 0.16
-1.4 x -1.4 = 1.96
0.6 x 0.6 = 0.36
-0.4 x -0.4 = 0.16
1.6 x 1.6 = 2.56
```
4. Determine the average of those squared numbers to get the variance.

```
0.16 + 1.96 + 0.36 + 0.16 + 2.56 = 5.2
5.2 ÷ 5 = 1.04 (variance)
```
5. Find the square root of the variance.

```
Square root of 1.04 = 1.01
```
The standard deviation of the values 2, 1, 3, 2 and 4 is 1.01.

# Mean

In [2]:
score = [76, 59, 71, 83, 77, 69, 64, 51, 58, 77]

m = np.mean(score)
print(m)

68.5

In [3]:
sum1 = sum(score)
items = len(score)
mean_v = sum1 / items
print(mean_v)

68.5

# using function

In [4]:
def my_mean(x):
    return print(sum(x) / len(x))

my_mean(score)

68.5

In [5]:
x = [76, 59, 71, 83, 77, 69, 64, 51, 58, 77]

In [6]:
m2 = statistics.mean(x)

print(m2)

68.5

# median

In [7]:
score = [76, 59, 71, 83, 77, 69, 64, 51, 58, 77]

In [8]:
median = np.median(score)
print(median)

70.0

In [9]:
# using library
med_2 = statistics.median(score)

In [10]:
print(med_2)

70.0

# Median using function

In [11]:
# using function

def my_median(x):
    n = len(x)
    index = n // 2

    return sum(sorted(x)[index -1: index +1]) /2

In [12]:
print(my_median(score))

70.0

# Mode

In [13]:
# mode = stats.mode(score)
# print(mode)

In [14]:
mode2 = statistics.mode(score)
print(mode2)

77

# Mode using Function

In [15]:
def my_mode(x):
    c = Counter(x)
    
    return [k for k, v in c.items() if v==c.most_common(20)[0][1]]

print(my_mode(score))

[77]

In [16]:
# Standard deviation
stdev = np.std(score)
print(stdev)

9.718538984847465

In [17]:
# variance
var1 = np.var(score)
print(var1)

94.45

## percentile()function used to compute the nth percentile of the given data (array elements) along the specified axis.
* Parameters : arr :input array. n : percentile value

In [18]:
# percentiles

ages = [5,31,43,48,50,41,7,11,15,39,80,82,32,2,8,6,25,36,27,61,31]

prtile = np.percentile(ages, 100)

print(prtile)

82.0

In [19]:
arr = [20, 2, 7, 1, 34]
print("arr : ", arr)
print("50th percentile of arr : ",np.percentile(arr, 50))
print("25th percentile of arr : ",np.percentile(arr, 25))
print("75th percentile of arr : ",np.percentile(arr, 75))

arr :  [20, 2, 7, 1, 34]
50th percentile of arr :  7.0
25th percentile of arr :  2.0
75th percentile of arr :  20.0

In [20]:
arr = [[14, 17, 12, 33, 44], 
       [15, 6, 27, 8, 19],
       [23, 2, 54, 1, 4,]]
print("\narr : \n", arr)
    
# Percentile of the flattened array
print("\n50th Percentile of arr, axis = None : ",np.percentile(arr, 50))
print("0th Percentile of arr, axis = None : ",np.percentile(arr, 0))
    
# Percentile along the axis = 0
print("\n50th Percentile of arr, axis = 0 : ",np.percentile(arr, 50, axis =0))
print("0th Percentile of arr, axis = 0 : ",np.percentile(arr, 0, axis =0))

arr :
 [[14, 17, 12, 33, 44], [15, 6, 27, 8, 19], [23, 2, 54, 1, 4]]

50th Percentile of arr, axis = None :  15.0
0th Percentile of arr, axis = None :  1.0

50th Percentile of arr, axis = 0 :  [15.  6. 27.  8. 19.]
0th Percentile of arr, axis = 0 :  [14.  2. 12.  1.  4.]

In [24]:
df=pd.read_csv("/content/top50.csv",encoding='latin-1')

In [25]:
df.head()

,Unnamed: 0,Track.Name,Artist.Name,Genre,Beats.Per.Minute,Energy,Danceability,Loudness..dB..,Liveness,Valence.,Length.,Acousticness..,Speechiness.,Popularity
0,1,Señorita,Shawn Mendes,canadian pop,117,55,76,-6,8,75,191,4,3,79
1,2,China,Anuel AA,reggaeton flow,105,81,79,-4,8,61,302,8,9,92
2,3,boyfriend (with Social House),Ariana Grande,dance pop,190,80,40,-4,16,70,186,12,46,85
3,4,Beautiful People (feat. Khalid),Ed Sheeran,pop,93,65,64,-8,8,55,198,12,19,86
4,5,Goodbyes (Feat. Young Thug),Post Malone,dfw rap,150,65,58,-4,11,18,175,45,7,94

In [26]:
en = df['Energy']

In [27]:
print(en)

0     55
1     81
2     80
3     65
4     65
5     68
6     64
7     68
8     62
9     43
10    62
11    71
12    41
13    79
14    50
15    45
16    65
17    48
18    39
19    62
20    74
21    59
22    79
23    78
24    45
25    82
26    59
27    46
28    86
29    79
30    51
31    32
32    71
33    59
34    88
35    72
36    70
37    82
38    73
39    56
40    68
41    68
42    39
43    40
44    69
45    62
46    75
47    79
48    70
49    79
Name: Energy, dtype: int64

In [28]:
print("mean: ", np.mean(en))
print("median: ", np.median(en))
print("mode: ", statistics.mode(en))
print("standar dev: ", np.std(en))
print("variance: ", np.var(en))

mean:  64.06
median:  66.5
mode:  79
standar dev:  14.088875043806727
variance:  198.49640000000002

In [30]:
d1 = [21, 19, 24, 25, 29, 34, 26, 27, 37, 33, 18, 20, 19, 22, 19, 19, 25, 22, 25, 23, 
     25, 19, 31, 19, 23, 18, 23, 18, 23, 19, 22, 28, 21, 20, 22, 21, 20, 19, 21, 22]

In [31]:
m1= np.mean(d1)
m1

23.025

In [35]:
m2 = statistics.mean(d1)
print("General Mean is % s " % (m2))

General Mean is 23.025

In [40]:
# harmoic mean
m3 = statistics.harmonic_mean(d1)
print("Harmonic Mean is %.2f" % (m3))

Harmonic Mean is 22.27

In [41]:
# geometric mean
m4 = statistics.geometric_mean(d1)
print("Geometric Mean is % s " % (m4))

Geometric Mean is 22.625931774869056

In [42]:
# median
m5 = np.median(d1)
print("Median is % s " % (m5))

Median is 22.0

In [43]:
m6 = statistics.median(d1)
print("Median (2) is % s " % (m6))

Median (2) is 22.0

In [44]:
m7 = statistics.mode(d1)
m7

19

In [45]:
m8 = stats.mode(d1)
m8

ModeResult(mode=array([19]), count=array([8]))

# measures of dispersion
# min, max, range

In [46]:
min1 = np.min(d1)
print("minimum value is % s " % (min1))

minimum value is 18

In [47]:
max1 = np.max(d1)
print("Maximum value is % s " % (max1))

Maximum value is 37

In [52]:
r1 = max1 - min1
print("Range is %s " % (r1))

Range is 19

In [53]:
# variance
v1 = np.var(d1)
print("variance is % s " % (v1))

variance is 20.874375000000004

In [54]:
v2 = statistics.variance(d1)
print("Standard deviation is % s " % (v2))

Standard deviation is 21.409615384615385

In [56]:
# standard deviation
s1 = np.std(d1)
print("Standard deviation is % s " % (s1))

Standard deviation is 4.56884832315541

In [57]:
s2 = statistics.stdev(d1)
print("Standard deviation is % s " % (s2))

Standard deviation is 4.6270525590936815

In [58]:
# Percentile
p1 = np.percentile(d1, 10)
print("Percentile is % s " % (p1))

Percentile is 19.0

In [59]:
# Coefficient of variation
co1 = lambda x: np.std(x, ddof=1) / np.mean(x) * 100
co1(d1)

20.09577658672609

In [60]:
d2 = pd.DataFrame(d1)
d2

     0
0   21
1   19
2   24
3   25
4   29
5   34
6   26
7   27
8   37
9   33
10  18
11  20
12  19
13  22
14  19
15  19
16  25
17  22
18  25
19  23
20  25
21  19
22  31
23  19
24  23
25  18
26  23
27  18
28  23
29  19
30  22
31  28
32  21
33  20
34  22
35  21
36  20
37  19
38  21
39  22

In [61]:
co2 = d2.apply(co1)
co2

0    20.095777
dtype: float64

In [64]:
x = lambda a : a + 10
print(x(10))

20

In [65]:
x = lambda a, b : a * b
print(x(5, 6))

30

In [66]:
def myfunc(n):
  return lambda a : a * n

mydoubler = myfunc(2)
mytripler = myfunc(3)

print(mydoubler(11))
print(mytripler(11))

22
33

#  Shape distribution

In [68]:
d2

     0
0   21
1   19
2   24
3   25
4   29
5   34
6   26
7   27
8   37
9   33
10  18
11  20
12  19
13  22
14  19
15  19
16  25
17  22
18  25
19  23
20  25
21  19
22  31
23  19
24  23
25  18
26  23
27  18
28  23
29  19
30  22
31  28
32  21
33  20
34  22
35  21
36  20
37  19
38  21
39  22

![pearson-mode-skewness.webp]()

In [67]:
# Skewness
sk1 = d2.skew()
sk1

0    1.35803
dtype: float64

In [69]:
# Kurtosis
k1 = d2.kurtosis()
k1

0    1.531491
dtype: float64

![Negative_and_positive_skew_diagrams_(English).svg]()

In [70]:
df=pd.read_csv("/content/heart.csv")

In [71]:
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0

In [72]:
df.describe().T

           count        mean        std    min    25%    50%    75%    max
age       1025.0   54.434146   9.072290   29.0   48.0   56.0   61.0   77.0
sex       1025.0    0.695610   0.460373    0.0    0.0    1.0    1.0    1.0
cp        1025.0    0.942439   1.029641    0.0    0.0    1.0    2.0    3.0
trestbps  1025.0  131.611707  17.516718   94.0  120.0  130.0  140.0  200.0
chol      1025.0  246.000000  51.592510  126.0  211.0  240.0  275.0  564.0
fbs       1025.0    0.149268   0.356527    0.0    0.0    0.0    0.0    1.0
restecg   1025.0    0.529756   0.527878    0.0    0.0    1.0    1.0    2.0
thalach   1025.0  149.114146  23.005724   71.0  132.0  152.0  166.0  202.0
exang     1025.0    0.336585   0.472772    0.0    0.0    0.0    1.0    1.0
oldpeak   1025.0    1.071512   1.175053    0.0    0.0    0.8    1.8    6.2
slope     1025.0    1.385366   0.617755    0.0    1.0    1.0    2.0    2.0
ca        1025.0    0.754146   1.030798    0.0    0.0    0.0    1.0    4.0
thal      1025.0    2.323902   0.620660    0.0    2.0    2.0    3.0    3.0
target    1025.0    0.513171   0.500070    0.0    0.0    1.0    1.0    1.0

In [73]:
columns = df.columns

In [74]:
for i in columns[ : ]:
    v = np.var(df[i])
    print("column name: ", i)
    print("variance: ", v)

column name:  age
variance:  82.22615110053539
column name:  sex
variance:  0.21173682331945276
column name:  cp
variance:  1.059125758477097
column name:  trestbps
variance:  306.53605806067816
column name:  chol
variance:  2659.190243902439
column name:  fbs
variance:  0.1269872694824509
column name:  restecg
variance:  0.27838286734086853
column name:  thalach
variance:  528.7469706127305
column name:  exang
variance:  0.22329565734681736
column name:  oldpeak
variance:  1.3794030791195717
column name:  slope
variance:  0.38124925639500307
column name:  ca
variance:  1.0615071980963713
column name:  thal
variance:  0.3848433075550267
column name:  target
variance:  0.2498265318262939

In [75]:
# all standard deviation
for i in columns[ : ]:
    sd = np.std(df[i]) 
    print("column name: ", i)
    print("standard deviation: ", sd)

column name:  age
standard deviation:  9.067863645894516
column name:  sex
standard deviation:  0.4601486969659403
column name:  cp
standard deviation:  1.029138357305322
column name:  trestbps
standard deviation:  17.508171179785688
column name:  chol
standard deviation:  51.56733698672483
column name:  fbs
standard deviation:  0.356352731829645
column name:  restecg
standard deviation:  0.5276200027869191
column name:  thalach
standard deviation:  22.994498703227485
column name:  exang
standard deviation:  0.4725416990560911
column name:  oldpeak
standard deviation:  1.1744799185680324
column name:  slope
standard deviation:  0.6174538496074043
column name:  ca
standard deviation:  1.0302947141941334
column name:  thal
standard deviation:  0.6203574030790853
column name:  target
standard deviation:  0.4998265017246424

In [76]:
# all skewness
for i in columns[ : ]:
    sk = (df[i].skew()) 
    
    print("column name: ", i)
    print("variance: ", sk)

column name:  age
variance:  -0.24886590174584555
column name:  sex
variance:  -0.8514488985126767
column name:  cp
variance:  0.5294552058584099
column name:  trestbps
variance:  0.739768226050074
column name:  chol
variance:  1.0740727783354815
column name:  fbs
variance:  1.9713385276901942
column name:  restecg
variance:  0.18044041112923528
column name:  thalach
variance:  -0.5137771771417209
column name:  exang
variance:  0.692655170469321
column name:  oldpeak
variance:  1.2108993882065326
column name:  slope
variance:  -0.4791344197425813
column name:  ca
variance:  1.2611886429097716
column name:  thal
variance:  -0.5243897710407986
column name:  target
variance:  -0.05277848219047285

# all kurtosis

In [79]:

for i in columns[ : ]:
    sk = (df[i].kurtosis()) 
    
    print("column name: ", i)
    print("Kurtosis: ", sk)

column name:  age
Kurtosis:  -0.5256178128684339
column name:  sex
Kurtosis:  -1.2775313330187505
column name:  cp
Kurtosis:  -1.1494995222913056
column name:  trestbps
Kurtosis:  0.9912207431245537
column name:  chol
Kurtosis:  3.9968030492724647
column name:  fbs
Kurtosis:  1.8898593171743996
column name:  restecg
Kurtosis:  -1.3096135146492
column name:  thalach
Kurtosis:  -0.08882248803265647
column name:  exang
Kurtosis:  -1.5232047382747014
column name:  oldpeak
Kurtosis:  1.3144708893202801
column name:  slope
Kurtosis:  -0.6471291959211065
column name:  ca
Kurtosis:  0.7011228657727422
column name:  thal
Kurtosis:  0.25082653446427816
column name:  target
Kurtosis:  -2.0011228802510272

In [80]:
for i in columns[ : ]:
    mean = df[i].mean()
    std = df[i].std()
    cv = (std / mean) * 100
    
    print("column name: ", i)
    print("coefficient of variation: ", cv)

column name:  age
coefficient of variation:  16.66654268137895
column name:  sex
coefficient of variation:  66.18270087274063
column name:  cp
coefficient of variation:  109.2527704179101
column name:  trestbps
coefficient of variation:  13.309391970104828
column name:  chol
coefficient of variation:  20.972565124464253
column name:  fbs
coefficient of variation:  238.8495797191742
column name:  restecg
coefficient of variation:  99.64539706201921
column name:  thalach
coefficient of variation:  15.428263723077842
column name:  exang
coefficient of variation:  140.4613580880593
column name:  oldpeak
coefficient of variation:  109.66307807784122
column name:  slope
coefficient of variation:  44.591489355912444
column name:  ca
coefficient of variation:  136.68403708277998
column name:  thal
coefficient of variation:  26.707671872472943
column name:  target
coefficient of variation:  97.4471978195383