In [ ]:
str2 = "this is our third class"

for c in str2:
    print(c)

t
h
i
s

i
s

o
u
r

t
h
i
r
d

c
l
a
s
s

In [ ]:
# finding sum from a list
sum1 = 0
list3 = [ 54, 76, 31, 49, 71, 85, 67, 48, 56]

for a in list3:
    sum1 += a 

print(sum1)

537

In [ ]:
sum=0
test_list=[1,2,3,4,5,6,7]

for i in test_list:
  # print(test_list)
  # print(i)
  # sum=0
  sum+=i
print(sum)

28

In [ ]:
sum1=0
for i in list3[ : 2]:
    sum1 += i
    
print(sum1)

130

In [ ]:
# finding odd and even numbers
list3 = [ 54, 76, 31, 49, 71, 85, 67, 48, 56]

for num in list3:
    if num%2 == 0:
        print("even: ", num)
    else:
        print("odd: ", num)

even:  54
even:  76
odd:  31
odd:  49
odd:  71
odd:  85
odd:  67
even:  48
even:  56

In [ ]:
t1 = [ 18,15,"sakib", 24,"mash",33,28,30,25,"mushi","colince",61,43,26,"tamim" ,77,"riyad",41,38,59,"fizz",'sifat',43, 28, 'nizam',72, 'noshin', 39,  'yousuf' ]


st = [ ]
o = [ ]
e = [ ]

for i in t1:
    if isinstance( i, str):
        st.append(i)
    elif i % 2 == 0:
        e.append(i)
    else:
        o.append(i)
        
        
print("only odd numbers: ", o)
print("===================")
print("only strings: ", st)
print("===================")
print("only even numbers: ", e)

only odd numbers:  [15, 33, 25, 61, 43, 77, 41, 59, 43, 39]
===================
only strings:  ['sakib', 'mash', 'mushi', 'colince', 'tamim', 'riyad', 'fizz', 'sifat', 'nizam', 'noshin', 'yousuf']
===================
only even numbers:  [18, 24, 28, 30, 26, 38, 28, 72]

In [ ]:
list_test=["bangla","english","math","physics",1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,20,22]
odd=[]
even=[]
string=[]
for g in list_test:
  if isinstance(g,str):
    string.append(g)
  elif g%2==0:
    even.append(g)
  else:
    odd.append(g)

print("String is",string)
print("\n")
print("Even number is ",even)
print("\n")
print("Odd number is ",odd)

String is ['bangla', 'english', 'math', 'physics']


Even number is  [2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22]


Odd number is  [1, 3, 5, 7, 9, 11, 13, 15, 17]

In [ ]:

l = [ 45, 72, 34, 12, 49 ]

for i in l:
    if i%2 == 0:
        for j in l:
            j = i + 5
        print("adding 5 with even: ", j)
    else:
        print("odd number", i)

odd number 45
adding 5 with even:  77
adding 5 with even:  39
adding 5 with even:  17
odd number 49

In [ ]:
input_list=[1,2,3,4,5,6,7,8]

for h in input_list:
  if h%2==0:
    for g in input_list:
      g=h+5
    print("Even number is ",g)
  else:

   print("odd number",h)

odd number 1
Even number is  7
odd number 3
Even number is  9
odd number 5
Even number is  11
odd number 7
Even number is  13

In [ ]:
v = [ 18,15,24,33,28,30,35,61,43, 51,46,72,39,17 ]
m = []
n = []
for l in v: 
    if l % 2 == 0:
        l = l + 100
        m.append(l)
    else:
        l = l - 100
        n.append(l)

print("the list of new even numbers are: ", m)
print("\n")
print("the list of new odd numbers are: ", n)

the list of new even numbers are:  [118, 124, 128, 130, 146, 172]


the list of new odd numbers are:  [-85, -67, -65, -39, -57, -49, -61, -83]

In [ ]:
# exmaple 01: using string
for v in "Sakib":
    if v == "i":
      break
    
      print(v)
    else:
      print(v)



        
print("its done")

S
a
k
its done

In [ ]:
# exmaple 02: using numbers
l = [ 21,34,16,19,100, 26,29,41,38,59]

for i in l:
    if i > 50:

        break
        # print(i)
        
    else:
        print(i)
        
print("its done")

21
34
16
19
its done

In [ ]:
# exmaple 03: using string
for v in "Sakib":
    if v == "i":
        continue
        print(v)
    else:
        print(v)
        
print("its done")

S
a
k
b
its done

In [ ]:
for v in "sakib":
  if v=="i":
    continue
    print(v)
  else:
    print(v)
print("its done")

s
a
k
b
its done

In [ ]:
# exmaple 04: using numbers
l = [ 21,34,16,19,100, 26,29,41,38,59]

for i in l:
    if i > 50:
        continue
        #print(i)
        
    else:
        print(i)
        
print("its done")

21
34
16
19
26
29
41
38
its done

In [ ]:
# example 05: for-if-continue
l = [ 21,34,16,19,100, 26,29,41,38,59]
sum_total = 0

# loop
for i in l:
    if i == 19 or i == 29:
        continue
    #print(i)
    sum_total += i  # increment
    
#print(i)
print(sum_total)  #  final ans

335

In [ ]:
l = [ 21,34,16,19,100, 26,29,41,38,59]
sum_total = 0

# loop
for i in l:
    if i == 19 or i == 29:
        break
    #print(i)
    sum_total += i  # increment
    
#print(i)
print(sum_total)

71

In [ ]:
# Combined operation of break and continue
# example 07
for x in range(-10, 30):
    if x == 2:
        continue
    elif x > 8:
        break
    print(x)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1
0
1
3
4
5
6
7
8

In [ ]:
# example 08
v = [ 18,15,24,33,28,30,35,61,43 ]
for x in v:
    if x == 24:
        continue 
    elif x == 35:
        break 
    print(x)

18
15
33
28
30

In [ ]:
# example 09
a = [ 21,34,16,19,100, 26,29,41,38,59]

# print(sum(a))  # 63
list_sum = 0

for num in a:
    if num == 19:
        continue  
    elif num == 29:
        break 
    else:
        list_sum += num

print(list_sum)

197

In [ ]:
# 2.3.3 While Loop

x = 0

while x < 10:
    print(x)
    x = x + 1

0
1
2
3
4
5
6
7
8
9

In [ ]:
#%%
count = 0
while (count < 16):
    print(count)
    count += 1
    
print("all done")

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
all done

In [ ]:
# Finding prime number

for num in range (2,20):
    for i in range(2, num):
        if num % i ==0:
            j = num / i
            print("%d equals %d*%d" %(num, i, j))
            break
    
    else:
        print(num, "is a Prime number")

2 is a Prime number
3 is a Prime number
4 equals 2*2
5 is a Prime number
6 equals 2*3
7 is a Prime number
8 equals 2*4
9 equals 3*3
10 equals 2*5
11 is a Prime number
12 equals 2*6
13 is a Prime number
14 equals 2*7
15 equals 3*5
16 equals 2*8
17 is a Prime number
18 equals 2*9
19 is a Prime number

In [ ]:
print ("prime numbers between are")
for num in range (1,30):
    if num > 1: # All prime number are greater than 1
        for i in range (2, num):
            if (num % i) == 0:
                break
        else:
            print(num)

prime numbers between are
2
3
5
7
11
13
17
19
23
29

In [1]:
num = 11
# If given number is greater than 1
if num > 1:
    # Iterate from 2 to n / 2
    for i in range(2, int(num/2)+1):
        # If num is divisible by any number between
        # 2 and n / 2, it is not prime
        if (num % i) == 0:
            print(num, "is not a prime number")
            break
    else:
        print(num, "is a prime number")
else:
    print(num, "is not a prime number")

11 is a prime number

In [5]:
def prime_number_check(a):
  if a>1:
    for i in range(2,int(a/2)+1):
      if a%i==0:
        print("Number is not Prime",a)
        break
      else:
        print("Number is Prime",a)
  else:

    print("Number is not Prime",a)

In [7]:
  m=int(input("Enter your number:\n"))
  prime_number_check(m)

Enter your number:
45
Number is Prime 45
Number is not Prime 45